@import url(http://fonts.googleapis.com/earlyacess/nanumgothic.css);
* {
  font-family : 'Nanum Gothic';

}
* {
  color: #000000;
  text-decoration: none;

}
*:hover {
  color: #bbbbbb;
  text-decoration: none;
  cursor: pointer;
}
