*{
    padding : 0;
    margin : 0;
    box-sizing : border=box;
    font-family :-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
body{
    width : 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content : center;
    align-items: center;
    background : linear-gradient(45deg, #5c5f5d, rgb(66, 66, 128));
}
.clock{
    position : relative;
    width:500px;
    height:500px;
    border-radius: 250px;
    border: 10px solid black;
    background-color : #fff;
}
.clock:after{
    content: '';
    position : absolute;
    width: 100%;
    height: 100%;
    top : 0;
    left: 0;
}
.clock:before{
    content: '';
    position : absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
}
.num{
    position : absolute;
    height:100%;
    width : 100%;
    top : 0;
    left : 0;
    text-align : center;
    font-size : 2rem;
    font-weight : 600;
    
}


.num1{
    transform: rotate(30deg);
}
.num1 div{
    transform: rotate(-30deg);
}
.num2{
    transform: rotate(60deg);
}
.num2 div{
    transform: rotate(-60deg);
}
.num3{
    transform: rotate(90deg);
}
.num3 div{
    transform: rotate(-90deg);
}
.num4{
    transform: rotate(120deg);
}
.num4 div{
    transform: rotate(-120deg);
}
.num5{
    transform: rotate(150deg);
}
.num5 div{
    transform: rotate(-150deg);
}
.num6{
    transform: rotate(180deg);
}
.num6 div{
    transform: rotate(-180deg);
}
.num7{
    transform: rotate(-150deg);
}
.num7 div{
    transform: rotate(150deg);
}
.num8{
    transform: rotate(-120deg);
}
.num8 div{
    transform: rotate(120deg);
}
.num9{
    transform: rotate(-90deg);
}
.num9 div{
    transform: rotate(90deg);
}
.num10{
    transform: rotate(-60deg);
}
.num10 div{
    transform: rotate(60deg);
}
.num11{
    transform: rotate(-30deg);
}
.num11 div{
    transform: rotate(30deg);
}
.num12{
    transform: rotate(0deg);
}
.num12 div{
    transform: rotate(0deg);
}
.hand{
    position: absolute;
    top: 0;
    left: 0;
    width : 100%;
    height : 100%;
}
.hand div{
    position : absolute;
    bottom : 50%;
    left : 50%;
    transform : translateX(-50%);
    background-color : black;
}
.sec{
    width : 1px;
    height: 40%;
}
.min{
    width : 4px;
    height: 38%;
    border-radius: 2px;
}
.hour{
    height: 28%;
    width: 8px;
    border-radius: 4px;
}
#sec{
    transform: rotate(30deg);
}